@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Jockey One";
}

h2 {
  margin: 20px;
  text-align: center;
  color: hotpink;
  font-size: 30px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 100%;

  label {
    font-size: 14px;
    margin: 10px;
    color: hotpink;
  }
  textarea {
    width: 80%;
    height: 100%;
    margin: 10px;
    background-color: white;
    text-align: start;
    font-size: 14px;
    border: 3px solid gray;
    border-radius: 15px;
    color: black;
    padding: 5px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  button {
    width: 100%;
    height: auto;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    color: aqua;
    padding: 3px;
    border: 4px solid gray;
    border-radius: 15px;
  }

  button:hover {
    color: white;
    cursor: pointer;
  }

  button:active {
    transform: translateY(4px);
    box-shadow: 0 5px #666;
  }
}

@media screen and (min-width: 768px) {
  * {
    margin: 10px;
  }

  h2 {
    font-size: 60px;
  }

  .container {
    label {
      font-size: 50px;
    }

    textarea {
      font-size: 40px;
      height: 100%;
      width: 100%;
    }
  }
  .buttons-container {
    button {
      font-size: 40px;
    }
  }
}
