* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: bisque;
  font-family: ;
}

h2 {
  margin: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  label {
    font-size: 20px;
    margin: 10px;
  }
  input {
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: aliceblue;
    text-align: start;
  }
}

button {
  width: 50%;
  height: 2rem;
  margin: 10px;
}
